/* @import url('https://fonts.googleapis.com/css2?family=Angkor&family=Inter&display=swap'); */

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.hourlyHeaderText {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 1.75rem;
}

.menuBlockWrapper {
    display: flex;
}

.menuContent {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.menuContent>img {
    width: 100%;
    margin-bottom: 0;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.chillBlock {
    background-color: #b9d9eb;
}

.grillBlock {
    background-color: #f03d3dcf;
}

.menuLink {
    text-align: center;
    color: black;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
    font-size: 3rem;
}

.sprinkles {
    animation: twinkle 5s infinite alternate ease-in-out;
    width: 110vw !important;
    height: auto;
    overflow: hidden;
}

.bannerImage {
    width: 100%;
}

.menuHeader {
    margin-top: 200px;
    text-align: center;
}

.mapWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.menuImage {
    width: 100%;
}

.drawerPhoneIcon {
    margin-right: 5px;
    width: 25px;
    color: #2A5095;
    fill: #2A5095
}

.marginBottomSmall {
    margin-bottom: 80px;
}

.drawerItemLogin {
    display: flex;
    background-color: #2A5095;
    padding: 10px 16px;
    color: white;
    text-decoration: none;
    width: 100%;
}

.navCallButton {
    display: flex;
    background-color: #f03d3dcf;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    border-radius: 35px;
    height: 50px;
    margin: auto 20px;
}

.navRightWrapper {
    display: flex;
}

.bottomHeaderRoot {
    background-color: #2A5095;
    position: relative;
    top: 180px;
    width: 80%;
    margin: auto;
}

.bottomHeaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
}

.bottomHeaderPhone {
    font-weight: bold;
    margin: auto 10px;
    font-size: 1rem;
}

.bottomHeaderEmail {
    text-decoration: none;
    color: white;
    margin: auto 10px;
    background-color: #2A5095;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 35px;
}

.hoursWrapper {
    display: flex;
    margin: 30px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;

}

.hoursWrapper p {
    text-align: left;
    font-weight: bold;
}

.hoursTime {
    color: #2A5095;
    font-weight: normal !important;
}

.hoursDayTime {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.saturdayAppt {
    text-align: left;
}

.bottomHeaderPhone>span {
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

.bottomHeaderText {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin: auto 10px;
}

.navCallButtonMobile {
    display: flex;
    background-color: #f03d3dcf;
    padding: 8px 16px;
    color: black;
    text-decoration: none;
    border-radius: 35px;
    height: 50px;
    margin: auto 20px;
}

.servicesSectionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.sectionOneHeader {
    font-size: 3rem;
    text-align: center;
}

.sectionOneSubText {
    text-align: center;
    font-weight: normal;
}

.servicesLink {
    text-decoration: none;
}

.packingShippingImageLogo {
    max-width: 500px;
    margin: 15px;
}

.pageDetailsTextWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    width: 50%;
}

.pageDetailText {
    color: #2A5095;
}

.bbbWrapper {
    background-color: #2A5095;
    width: 250px;
    height: 180px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productButtonWrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.productButtonWrapperMobile {
    display: flex;
    flex-direction: column;
    margin: 0 8px;
    margin-top: 30px;
}

.productButtonWrapperMobile button {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}

.productButtonWrapper button {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}

.productButtonWrapperMobile {
    display: flex;
    flex-direction: column;
    margin: 0 8px;
    margin-top: 30px;
}

.productButtonWrapperMobile button {
    display: flex;
    align-items: center;
    color: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}

.dropdown {
    position: absolute;
    right: auto;
    left: auto;
    top: 75px;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
        0 4px 6px -2px rgba(71, 63, 79, 0.16);
    font-size: 0.875rem;
    z-index: 9999;
    min-width: 10rem;
    padding: 0.5rem;
    list-style: none;
    background-color: white;
    margin-left: 0px;
    border-radius: 0.5rem;
    display: none;
}

.dropdown-mobile {
    position: absolute;
    right: auto;
    left: auto;
    top: 75px;
    box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
        0 4px 6px -2px rgba(71, 63, 79, 0.16);
    font-size: 0.875rem;
    z-index: 9999;
    min-width: 10rem;
    padding: 0.5rem;
    list-style: none;
    background-color: white;
    border-radius: 0.5rem;
    display: none;
}

.dropdown-mobile.show {
    display: block;
}
.dropdown.show {
    display: block;
}

.dropdown .dropdown-submenu {
    position: absolute;
    left: 100%;
    top: -7px;
}

.menus {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.menu-items {
    position: relative;
    font-size: 16px;
    width: 111%;
    margin-left: -9px;
    height: 35px;
}

.aboutImageTextWrapper {
    display: flex;
    justify-content: space-around;
}

.menu-items a {
    display: flex;
    align-items: center;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    color: black;
    padding-left: 10px;
    height: 35px;
}

.menu-items a:hover,
.menu-items button:hover {
    background-color: #2A5095;
    color: white;
}

.packingShippingWrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.popWashDetailWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.giftDetailWrapper {
    display: flex;
    flex-wrap: wrap;
}

.giftImageWrapper {
    flex: 1 0 32%;
    margin: 5px;
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
}

.giftImage {
    max-height: 375px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 5px;
}

.giftDetailText {
    width: 70%;
    margin-top: 25px;
    color: #2A5095;
}

.textCenter {
    text-align: center;
}

.navCallButton>span {
    margin: auto;
}

#headshot {
    max-height: 178px;
    max-width: 160px;
}

.aboutTextWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.aboutTitleHeader {
    text-align: center;
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
    margin-bottom: 0;
}

.aboutWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scrollToLocation {
    height: 100px;
    background-color: white;
}

.sectionWrapper {
    display: flex;
    justify-content: center;
}

.aboutSectionWrapper {
    display: flex;
    flex-direction: column;
}

.drawerItemLogin {}

.reviewButton {
    background-color: #333333;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
    border: none;
}

.reviewHeader {
    font-size: 1.2rem;
    text-transform: none;
    color: white;
    margin: 0;
}

.footerRoot {
    display: flex;
    background: #2A5095;
    color: white;
    height: 110px;
}

.rocsitesText {
    font-size: 0.7rem;
    margin-bottom: 15px;
    color: white;
}

.rocsitesText a {
    color: white;
}

.socialFooter {
    height: 40px;
    width: 40px;
    margin: 0 10px;
}

.marginAuto {
    margin: 10px auto;
}

.socialLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialLinkWrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0 40px 0;
}

.socialLinkWrapperNav {
    display: flex;
    justify-content: center;
    margin: auto 20px;
}

.socialLinkWrapperNavMobile {
    display: flex;
    margin-top: 15px;
}

.socialDrawer {
    height: 30px;
    width: 30px;
    margin: 0 5px;
}

.socialDrawerFb {
    height: 30px;
    width: 30px;
    margin: 0 5px;
    margin-bottom: 1px;
}

.socialNav {
    height: 30px;
    width: 30px;
    margin: 0 10px;
}

.socialNavFb {
    height: 30px;
    width: 30px;
    margin: 0 10px;
    margin-bottom: 1px;
}

.connectHeader {
    font-size: 2rem;
    text-align: center;
    color: black;
    text-transform: uppercase;
}

.addressText {
    text-align: center;
    margin: 40px 0;
}

.passportPhoto {
    max-height: 300px;
    margin: auto;
    display: flex;
}

.mailReceivingPhoto {
    max-height: 500px;
    margin: auto;
    display: flex;
}

@keyframes twinkle {
    from {
        transform: translateX(1vw);
    }

    to {
        transform: translateX(-1vw);
    }
}

@media(max-width:600px) {

    #headshot {
        margin: auto;
    }

    .aboutImageTextWrapper {
        flex-direction: column;
    }

    .sectionOneHeader {
        font-size: 2rem;
    }

    .packingShippingImageLogo {
        width: 90%;
        max-width: 100%;
    }

    .imageWrapper {
        width: 100%;
    }

    .packingShippingWrapper {
        flex-direction: column;
        align-items: center;
    }

    .pageDetailsTextWrapper {
        width: 80%;
        margin: 20px auto;
    }

    .pageDetailText {
        text-align: center;
    }

    .giftDetailTextNoMobile {
        display: none;
    }

    .giftDetailWrapper {
        flex-direction: column;
        align-items: center;
    }

    .giftDetailTextMobile {
        display: flex;
    }

    .hoursDayTime {
        margin: auto;
        align-items: center;
        width: 90%;
    }

    .hoursWrapper {
        width: 100%;
    }


    .bottomHeaderWrapper {
        flex-direction: column;
    }

    .bottomHeaderPhone>span {
        padding: 6px 8px;
        font-size: 0.9rem;
    }

    .bottomHeaderText {
        padding: 6px 8px;
        margin: 5px;
        font-size: 0.9rem;
    }

    .menuLink {
        font-size: 1.25rem;
    }

    .socialLink {}

    .aboutSectionWrapper iframe {
        width: 90%;
        margin: auto;
    }

    .socialLinkWrapperNav {
        display: none;
    }

    .navCallButton,
    .navCallButtonMobile {
        font-size: 0.75rem;
    }
}